@import './base.css';

:root {
    --theme-color-background: #2e2c33;
    --theme-color-mask: #2e2c33aa;
    --theme-color-mask-text: #ffffff;
    --theme-color-info-text-highlight: #ffffff;
    --theme-color-log-search-hit-background: yellow;
    --theme-color-log-search-hit-text: black;
    --theme-color-scrollbar-track: #303134;
    --theme-color-scrollbar-thumb: #514e55;
    --theme-color-scrollbar-thumb-hover: #7d7a7f;
}

body {
    overflow: hidden;
}

html,
body,
#app {
    padding: 0;
    margin: 0;
    height: 100%;
}

.logContainerMask{
    background: var(--theme-color-mask);
    color: var(--theme-color-mask-text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0%;
}

.highlightLogText{
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0% {  }
    50% { background: gray; color: var(--theme-color-info-text-highlight); }
    100% {  }
}

.logSearchHit{
    background: var(--theme-color-log-search-hit-background);
    color: var(--theme-color-log-search-hit-text);
    border-radius: 2px;
}
*::-webkit-scrollbar {
    width: 16px; 
 }

 *::-webkit-scrollbar-track {
    background-color: var(--theme-color-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--theme-color-scrollbar-thumb);
  border-radius: 2px;
  min-height: 25%;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color-scrollbar-thumb-hover);
}

*::-webkit-scrollbar-corner {
  background: var(--theme-color-background);
}

#hintBar{
    height: 20px;
    margin: 0 4px 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}