* {
    padding: 0;
    margin: 0;
}


body {
    overflow: hidden;
}

html,
body,
#app {
    height: 100%;
}

.titleBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: drag;
    justify-content: flex-end;
    flex: 0 0 auto;
}

.titleBarText{
    text-align: center;
    user-select: none;
    flex: auto;
    position: absolute;
    width: 100%;
}

.titleBarButton{
    -webkit-app-region: no-drag;
    display: inline-block;
    position: relative;
    user-select: none;
    flex: 0 0 auto;
}


.menuBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: no-drag;
    height: 35px;
    padding: 0 4px 0 4px;
    flex: 0 0 auto;
}

.logContainer{
    margin: 0 4px 4px 4px;
    flex: 0 0 auto;
    min-height: 40px;
    width: auto;
    overflow: hidden;
}

.logContainerMask{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0%;
}

.log {
    word-break: break-all;
    white-space: nowrap;
    min-width: 100%;
}

.logIndex{
    user-select: none;
    margin-left: 12px;
    margin-right: 12px;
    text-align: right;
}

.logText{
    display: inline-block;
    user-select: text;
    max-width: fit-content;
    min-width: calc(100% - 50px - 12px);
    height: 100%;
}

.highlightLogText{
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0% {  }
    50% { 
        background: var(--theme-color-log-highlight-background); 
        color: var(--theme-color-log-highlight-text);
    }
    100% {  }
}

.logSearchHit{
    background: var(--theme-color-log-search-hit-background);
    color: var(--theme-color-log-search-hit-text);
    border-radius: var(--theme-border-radius);
}

.ruleContainer{
    flex: 1 1 0;
    min-height: 0;
    margin: 0 4px 4px 4px;
    overflow-y: scroll;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 16px; 
 }

*::-webkit-scrollbar-track {
    background-color: var(--theme-color-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--theme-color-scrollbar-thumb);
  border-radius: var(--theme-border-radius);
  min-height: 25%;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color-scrollbar-thumb-hover);
}

*::-webkit-scrollbar-corner {
  background: var(--theme-color-scrollbar-track);
}