* {
    padding: 0;
    margin: 0;
}

:root {
    --theme-color-background: #2e2c33;
    --theme-color-mask: #2e2c33aa;
    --theme-color-mask-text: #ffffff;
    --theme-color-content: #3c3a40;
    --theme-color-info-text-darker: #505050;
    --theme-color-info-text: #707070;
    --theme-color-info-text-highlight: #ffffff;
    --theme-color-log: #ffffff;
    --theme-color-log-search-hit-background: yellow;
    --theme-color-log-search-hit-text: black;
    --theme-color-log-index: #ffffff44;
    --theme-color-scrollbar-track: #303134;
    --theme-color-scrollbar-thumb: #514e55;
    --theme-color-scrollbar-thumb-hover: #7d7a7f;
    --theme-color-button: #ffffff00;
    --theme-color-button-activated: #8e8a9a43;
    --theme-color-button-text-activated: #ffffffc6;
    --theme-color-button-hover: #ffffff10;
    --theme-color-button-close-hover: #ef3c54;
    --theme-color-button-activated-hover: #8e8a9a93;
    --theme-color-button-text-activated-hover: var(--theme-color-info-text-highlight);
    --theme-color-inputField: #00000050;
    --theme-font-system: 12px/1.0 "Microsoft Yahei";
    --theme-font-log: 13px/1.2 "SimSun";
    --theme-font-title: 13px/1.2 "Microsoft Yahei";
}

body {
    background:var(--theme-color-background);
    overflow: hidden;
}

html,
body,
#app {
    height: 100%;
}

.systemInfo{
    color: var(--theme-color-info-text);
    white-space: nowrap;
    user-select: none;
    font: var(--theme-font-system);
}

.title {
    background:var(--theme-color-background);
    flex: none;
}
.titleBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: drag;
    background: var(--theme-color-background);
    height: 28px;
    justify-content: flex-end;
    flex: 0 0 auto;
}

.titleBarText{
    color: var(--theme-color-info-text);
    font: var(--theme-font-title);
    vertical-align: middle;
    text-align: center;
    user-select: none;
    flex: auto;
    position: absolute;
    width: 100%;
}

.titleBarButton{
    -webkit-app-region: no-drag;
    background: var(--theme-color-button);
    color: var(--theme-color-info-text);
    width: 40px;
    height: 100%;
    border: none;
    display: inline-block;
    position: relative;
    text-align: center;
    user-select: none;
    flex: 0 0 auto;
}

.titleBarButton:hover {
    background: var(--theme-color-button-hover);
    color: var(--theme-color-info-text-highlight);
}

.menuBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: no-drag;
    background: var(--theme-color-background);
    height: 35px;
    padding: 0 4px 0 4px;
    flex: 0 0 auto;
}

.menuButton{
    background: var(--theme-color-button);
    color: var(--theme-color-info-text);
    width: auto;
    padding: 0 8px 0 8px;
    height: 80%;
    border: none;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    text-align: center;
    user-select: none;
    flex: 0 0 auto;
}

.menuButton:hover {
    background: var(--theme-color-button-hover);
    color: var(--theme-color-info-text-highlight);
}

.menuFilter{
    height:80%;
    padding: 0 8px 0 8px;
    margin-left: 8px;
    display: inline-block;
    position: relative;
    text-align: left;
    user-select: text;
    flex: 1 1 auto;
    background: var(--theme-color-inputField);
    color: var(--theme-color-log);
    border:none;
    border-radius: 8px;
    outline: var(--theme-color-info-text-darker);
    outline-style:solid;
    outline-width: 1px;
}

.menuFilter:focus{
    outline: var(--theme-color-info-text);
    outline-style:solid;
    outline-width: 1px;
    border: #ef3c54;
}

.menuDropdown{
    background: var(--theme-color-background);
    width: 200px;
    color: var(--theme-color-info-text);
    padding: 5px;
    border: 1px solid var(--theme-color-info-text-darker);
    border-radius: 8px;
    user-select: none;
    flex: 0 0 auto;
    z-index: 1;
}

.menuDropdownButton{
    background: var(--theme-color-button);
    color: var(--theme-color-info-text);
    width: 100%;
    height: 25px;
    padding: 0 18px 0 18px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    text-align: left;
    user-select:none;
    flex: 0 0 auto;
}

.menuDropdownButton:hover {
    background: var(--theme-color-button-hover);
    color: var(--theme-color-info-text-highlight);
}

.menuDropdownButton:disabled {
    color: var(--theme-color-info-text-darker);
}

.menuFilter::placeholder{
    color: var(--theme-color-info-text-darker);
}

#closeButton:hover {
    background: var(--theme-color-button-close-hover);
}

.logContainer{
    background:var(--theme-color-content);
    color:var(--theme-color-log);
    margin: 0 4px 4px 4px;
    flex: 0 0 auto;
    min-height: 40px;
    width: auto;
    overflow: hidden;
}

.logContainerMask{
    background: var(--theme-color-mask);
    color: var(--theme-color-mask-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.log {
    word-break: break-all;
    white-space: nowrap;
    font: var(--theme-font-log);
    min-width: 100%;
}

.logIndex{
    position: relative;
    display: inline-block;
    user-select: none;
    color: var(--theme-color-log-index);
    font-style: italic;
    margin-right: 12px;
    text-align: right;
    width: 50px;
}

.logText{
    display: inline-block;
    user-select: text;
    max-width: fit-content;
    min-width: calc(100% - 50px - 12px);
    height: 100%;
}

.logSearchHit{
    background: var(--theme-color-log-search-hit-background);
    color: var(--theme-color-log-search-hit-text);
    border-radius: 2px;
}

.ruleContainer{
    background:var(--theme-color-content);
    color:var(--theme-color-log);
    flex: 1 1 0;
    min-height: 0;
    margin: 0 4px 4px 4px;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ruleTitleText{
    color: var(--theme-color-info-text);
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    user-select: none;
    width: 100%;
    margin: 16px 0 4px 4px;
}

.ruleButton{
    background: var(--theme-color-button);
    color: var(--theme-color-info-text);
    width: fit-content;
    min-width: fit-content;
    height: 100%;
    padding: 0 8px 0 8px;
    border: none;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    text-align: center;
    flex: 0 0 auto;
}

.activatedButton{
    background: var(--theme-color-button-activated);
    color: var(--theme-color-button-text-activated);
}

.ruleButton:hover {
    background: var(--theme-color-button-hover);
    color: var(--theme-color-info-text-highlight);
}

.activatedButton:hover{
    background: var(--theme-color-button-activated-hover);
    color: var(--theme-color-button-text-activated-hover);
}

.ruleButton:disabled{
    background: var(--theme-color-button);
    color: var(--theme-color-info-text-darker);
}

.ruleLine{
    display: flex;
    align-items: center;
    width: 100%;
    height: 22px;
    color: var(--theme-color-info-text);
    font: var(--theme-font-log);
    user-select: none;
}

.fixedRuleBlock{
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
}

.ruleBlock{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
    min-width: 1px;
    text-wrap: nowrap;
}

.colorRuleBlock{
    max-width: 130px;
}

.ruleInputWarpper{
    display: flex;
    flex: 1 1 auto;
    min-width: 0px;
}

.ruleInput{
    height: 18px;
    min-width: 0px;
    flex: 1 1 auto;
    padding: 0 8px 0 8px;
    margin-left: 4px;
    display: inline-block;
    position: relative;
    text-align: left;
    user-select: text;
    background: var(--theme-color-inputField);
    color: var(--theme-color-log);
    border:none;
    border-radius: 4px;
    outline: var(--theme-color-info-text-darker);
    outline-style:solid;
    outline-width: 1px;
}

.ruleInput:focus{
    outline: var(--theme-color-info-text);
    outline-style:solid;
    outline-width: 1px;
    border: #ef3c54;
}

.ruleInput::placeholder{
    color: var(--theme-color-info-text-darker);
}

.colorBox{
    width: 15px;
    height: 15px;
    margin-right: 4px;
    border-radius: 4px;
}

.colorButton{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

*::-webkit-scrollbar {
    width: 16px; 
 }

 *::-webkit-scrollbar-track {
    background-color: var(--theme-color-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--theme-color-scrollbar-thumb);
  border-radius: 2px;
  min-height: 25%;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color-scrollbar-thumb-hover);
}

*::-webkit-scrollbar-corner {
  background: var(--theme-color-background);
}

#app {
    display: flex;
    flex-direction: column;
}

#hintBar{
    height: 20px;
    margin: 0 4px 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}