* {
    padding: 0;
    margin: 0;
}

:root {
    --theme-color-background: #2e2c33;
    --theme-color-content: #3c3a40;
    --theme-color-info-text: #707070;
    --theme-color-info-text-highlight: #ffffff;
    --theme-color-log: #ffffff;
    --theme-color-log-index: #ffffff44;
    --theme-color-scrollbar-track: #303134;
    --theme-color-scrollbar-thumb: #514e55;
    --theme-color-scrollbar-thumb-hover: #7d7a7f;
    --theme-color-button: #ffffff00;
    --theme-color-button-hover: #ffffff10;
    --theme-color-button-close-hover: #ef3c54;
    --theme-font-system: 12px/1.0 "Microsoft Yahei";
    --theme-font-log: 13px/1.2 "SimSun";
}

body {
    background:var(--theme-color-background);
}

html,
body,
#app {
    height: 100%;
}

.systemInfo{
    color: var(--theme-color-info-text);
    white-space: nowrap;
    user-select: none;
    font: var(--theme-font-system);
}

.title {
    background:var(--theme-color-background);
    flex: none;
}
.titleBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: drag;
    background: var(--theme-color-background);
    height: 30px;
}

.titleBarText{
    color: var(--theme-color-info-text);
    font-size: 16px;
    font-weight: bold;
    -webkit-app-region: drag;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    flex: auto;
}

.titleBarButton{
    -webkit-app-region: no-drag;
    background: var(--theme-color-button);
    color: var(--theme-color-info-text);
    width: 40px;
    height: 100%;
    border: none;
    display: inline-block;
    position: relative;
    text-align: center;
    user-select: none;
    flex: 0 0 auto;
}

.titleBarButton:hover {
    background: var(--theme-color-button-hover);
    color: var(--theme-color-info-text-highlight);
}

.menuButton{
    -webkit-app-region: no-drag;
    background: var(--theme-color-button);
    color: var(--theme-color-info-text);
    width: 100px;
    height: 100%;
    border: none;
    display: inline-block;
    position: relative;
    text-align: center;
    user-select: none;
    flex: 0 0 auto;
}

.menuButton:hover {
    background: var(--theme-color-button-hover);
    color: var(--theme-color-info-text-highlight);
}

#closeButton:hover {
    background: var(--theme-color-button-close-hover);
}

.content{
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
    height: 100%;
}

.logContainer{
    background:var(--theme-color-content);
    color:var(--theme-color-log);
    flex: 1 1 0;
    min-height: 0;
}

.logList{
    width: auto;
}

.log {
    word-break: break-all;
    white-space: nowrap;
    font: var(--theme-font-log);
    min-width: 110%;
}

.logIndex{
    position: relative;
    display: inline-block;
    user-select: none;
    color: var(--theme-color-log-index);
    font-style: italic;
    margin-right: 12px;
    text-align: right;
    width: 50px;
}

.rulePanel{
    padding: 0px 5px 0px 5px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rulePanelButton{
    -webkit-app-region: no-drag;
    background: var(--theme-color-button);
    color: var(--theme-color-info-text);
    border: none;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    user-select: none;
}

.rulePanelButton:hover {
    background: var(--theme-color-button-hover);
    color: var(--theme-color-info-text-highlight);
}

.ruleLine{
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--theme-color-info-text);
    font: var(--theme-font-log);
}

*::-webkit-scrollbar {
    width: 16px; 
 }

 *::-webkit-scrollbar-track {
    background-color: var(--theme-color-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--theme-color-scrollbar-thumb);
  border-radius: 2px;
  min-height: 25%;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color-scrollbar-thumb-hover);
}

*::-webkit-scrollbar-corner {
  background: var(--theme-color-background);
}

#app {
    display: flex;
    flex-direction: column;
}

#hintBar{
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}